
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.gradient-background {
  background: linear-gradient(to bottom, #aff1da, #f9ea8f);
  display: flex;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  margin-left: -355px;
}

.card-container {
  width: 100%;
  max-width: 400px; 
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background: #fff; 
  border-radius: 8px;
}
